.container {
    padding: 1rem;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container > div {
    padding: 0.5rem;
}

#results-container {
    display: none;
}

footer.footer {
    padding: 0.25rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}
