.container {
    padding: 1rem;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container > div {
    padding: 0.5rem;
}

#results-container {
    display: none;
}

footer.footer {
    padding: 0.25rem;
    width: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#wrapper {
  flex: 1;
}


.section {
    padding: 0;
}


td {
    text-align: right !important;
}
